USE [master]
GO
/****** Object:  Database [QuanAnDB]    Script Date: 18/03/2026 09:25:23 PM ******/
CREATE DATABASE [QuanAnDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QuanAnDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVERBAO\MSSQL\DATA\QuanAnDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QuanAnDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVERBAO\MSSQL\DATA\QuanAnDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuanAnDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuanAnDB]
GO
/****** Object:  Table [dbo].[MonAn]    Script Date: 18/03/2026 09:25:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MonAn](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TenMon] [nvarchar](100) NULL,
	[Gia] [decimal](18, 0) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[MonAn] ON 

INSERT [dbo].[MonAn] ([Id], [TenMon], [Gia]) VALUES (1, N'Phở Bò tái lăn', CAST(50000 AS Decimal(18, 0)))
INSERT [dbo].[MonAn] ([Id], [TenMon], [Gia]) VALUES (2, N'Bún Chả Hà Nội', CAST(45000 AS Decimal(18, 0)))
INSERT [dbo].[MonAn] ([Id], [TenMon], [Gia]) VALUES (3, N'Cơm Tấm Sườn Bì', CAST(60000 AS Decimal(18, 0)))
SET IDENTITY_INSERT [dbo].[MonAn] OFF
GO
USE [master]
GO
